<ion-header>
  <ion-toolbar>
    <ion-title>favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="espera" class="row gx-0">

  <ion-row>
    <ion-card *ngFor="let juegito of listaDeFavoritos" [routerLink]="['/juego',juegito.idJuego.id]" class="col-2">
      <img src="{{juegito.idJuego.imagen}}"/>
      <ion-card-header>
        <ion-card-title>{{juegito.idJuego.nombre}}</ion-card-title>
        <ion-card-subtitle>Genero: {{juegito.idJuego.genero}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{juegito.idJuego.precio}}
      </ion-card-content>
    </ion-card>

  </ion-row>
  <ion-icon name="arrow-undo-outline" [routerLink]="['']"></ion-icon>

</ion-content>
