<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center class="text-center">
        <ion-button [routerLink]="['/registrar']" expand="block" color="primary">Registrarse</ion-button>
        <span class="divider line one-line">or</span>
        <ion-button [routerLink]="['/login']" expand="block" color="primary">Login</ion-button>
        <span class="divider line one-line">or</span>
        <ion-button [routerLink]="['/lista-juegos']" expand="block" color="primary">Ver Juegos</ion-button>
        <span class="divider line one-line">or</span>
        <ion-button [routerLink]="['/opciones-juego']" expand="block" color="primary">Añadir Juego</ion-button>
        <span class="divider line one-line">or</span>
        <ion-button [routerLink]="['/favoritos']" expand="block" color="primary">Lista favoritos usuario</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
